name: Sync Upstream

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Sync fork with upstream
        uses: repo-sync/github-sync@v2
        with:
          source_repo: tiann/KernelSU
          source_branch: main
          destination_branch: main
          github_token: ${{ secrets.GITHUB_TOKEN }}
